  <div class="jumbotron top">
    <h1 class="display-4 top__title">問題投稿サイト(仮)</h1>
    <p class="lead">ユーザー同士で自由に問題を投稿しあい知識を深めていくために作られました</p>
    <hr class="my-4">
    <%= link_to '使ってみる', questions_path, class: 'btn btn-primary btn-lg top__btn'%>
  </div>