/*ユーザー一覧ページのデザイン*/
.user {
  &__users {
    margin-top: 3rem;
    &-item {
      list-style: none;
      margin-left: 1.5rem;
      a {
        text-decoration: none;
        color: #414141;
        margin-left: 1rem;
        font-weight: bold;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    &-paginate {
      margin: 1.5rem 0 3rem;
    }
  }
}

/* ユーザ詳細一覧 */
.user__show {
  &-body {
    height: 80vh;
    display: flex;
    align-items: center;
  }
  &-img{
    height: 50%;
  }
  &-info {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &-name {
      &-label {
        font-weight: bold;
      }
      p {
        text-align: center;
        font-size: 1.5rem;
      }
    }
    &-email {
      p {
        text-align: center;
        font-size: 1.5rem;
      }
    }
    &-btn{
      text-align: center;
    }
  }
  &-question{
    min-height: 50vh;
    margin: 0 auto;
    &-label{
      text-align: center;
    }
    &-body{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #414141;
      text-decoration: none;
      &:hover {
        color: #414141;
        opacity: 0.8;
      }
      h2 {
        color: #414141;
        font-size: 1.5rem;
        margin: 0 20px;
      }
      p {
        margin: 1.5rem 1.2rem 0.2rem 0;
      }
    }
    &-paginate{
      text-align: center;
    }
  }
}
