<div class="container user">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <ul class="user__users">
        <% @users.each do |user| %>
        <li class="user__users-item">
          <%= gravatar_for user, size: 50 %>
          <%= link_to user.name, user %>
        </li>
        <hr>
        <% end %>
      <div class="user__users-paginate">
        <%= paginate @users%>
      </div>
      </ul>
    </div>
  </div>
</div>