body {
  color: #505050;
}

.navbar {
  height: 60px
}
.custom__body {
  min-height: 100vh;
  margin-top: 60px;
}

.notification {
  color: #fff;
  text-align: center;
  .notice {
    background-color: lightblue;
    margin-bottom: 0;
  }
  .alert {
    margin-bottom: 0;
    background-color: orange;
  }
}

/*ページネーション自体のデザイン*/
.pagination > li > a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: #93c9ff;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination > li > a:hover {
  border-radius: 15px;
}