body {
  color: #505050;
}

.navbar {
  height: 60px
}
.custom__body {
  margin-top: 60px;
}

.notification {
  color: #fff;
  text-align: center;
  .notice {
    background-color: lightblue;
    margin-bottom: 0;
  }
  .alert {
    margin-bottom: 0;
    background-color: orange;
  }
}