$main-color: #505050;
//問題投稿フォームのスタイル
.question {
  min-height: 100vh;
  &__title {
    color: #a8a8a8;
    font-size: 2rem;
    margin-bottom: 0;
    width: 75%;
    margin: 0 auto;
  }
  &__border {
    margin: 0;
    width: 75%;
    margin: 0 auto;
  }
  &__form {
    text-align: center;
    &-first {
      border-radius: 10px;
      margin: 0 0 0.1rem;
      width: 75%;
      height: 35px;
    }
    &-body {
      border-radius: 10px;
      margin: 0.1rem 0;
      width: 75%;
      height: 150px;
    }
    &-answer {
      border-radius: 10px;
      margin: 0.1rem 0;
      width: 75%;
      height: 75px;
    }
    &-tag-title {
      margin: 0 auto;
      width: 75%;
    }
    &-border {
      width: 75%;
      margin: 0 auto 10px;
    }
  }
}

.question__show {
  margin: 5rem auto;
  &-body {
    margin: 20px auto;
    .card-body {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-name {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      a {
        text-decoration: none;
        color: $main-color;
      }
    }
    &-title {
      font-size: 1.5rem;
      a {
        text-decoration: none;
        color: $main-color;
        &:hover{
          color: #000;
        }
      }
    }
    &-time {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: auto;
    }
  }
}

.question__content-name {
  margin: 1.5rem 2rem 0 0;
  text-align: left;
  padding-left: 1.5rem;
  padding-bottom: 0;
}

.question__content-answer {
  margin: 1.5rem auto;
  &-body {
    display: none;
  }
}

.question__content-name + hr {
  margin: 0;
}
